<div class="wrapper clearfix banner">
		<div class="banner-1 slideshow autoPlay">
			<ul>
				<li>
					<a href="#">
					<%= image_tag('area01/banner01.jpg') %>
					<span class="mask-tags" data-type="sports">最新 2015/11</span>
					</a>
				</li>
				<li>
					<a href="#">
					<%= image_tag('area01/banner01-2.jpg') %>
					<span class="mask-tags" data-type="sports">最新 2015/05</span>
					</a>
				</li>
				<li>
					<a href="#">
					<%= image_tag('area01/banner01.jpg') %>
					<span class="mask-tags" data-type="sports">最新 2015/11</span>
					</a>
				</li>
				<li>
					<a href="#">
					<%= image_tag('area01/banner01-2.jpg') %>
					<span class="mask-tags" data-type="sports">最新 2015/02</span>
					</a>
				</li>
				<li>
					<a href="#">
					<%= image_tag('area01/banner01.jpg') %>
					<span class="mask-tags" data-type="sports">最新 2015/11</span>
					</a>
				</li>
			</ul>
				
		</div>
		<div class="small-images">
			<div class="banner-2 block wider slideshow">
				<ul>
					<li>
						<a href="#">
						<%= image_tag('area02/banner02.jpg') %>
						<span class="mask-tags" data-type="sports">龍潭 大樓</span>
						</a>
					</li>
					<li>
						<a href="#">
						<%= image_tag('area02/banner02.jpg') %>
						<span class="mask-tags" data-type="sports">大樓</span>
						</a>
					</li>
					<li>
						<a href="#">
						<%= image_tag('area02/banner02.jpg') %>
						<span class="mask-tags" data-type="sports">大樓</span>
						</a>
					</li>
				</ul>
				
			</div>
			<div class="banner-2 block ad slideshow">
				
					<ul>
						<li>
							<a href="#">
								<%= image_tag('area03/banner03.jpg') %>
								<span class="mask-tags" data-type="sports">桃園 大樓</span>
							</a>
						</li>
						<li>
							<a href="#">
								<%= image_tag('area03/banner03.jpg') %>
								<span class="mask-tags" data-type="sports">大樓</span>
							</a>
						</li>	
						<li>
							<a href="#">
								<%= image_tag('area03/banner03.jpg') %>
								<span class="mask-tags" data-type="sports">大樓</span>
							</a>				
						</li>
					</ul>
					
			</div>
			<div class="banner-2 block ad slideshow">
				<ul>
					<li>
						<a href="#">
							<%= image_tag('area04/banner04.jpg') %>
							<span class="mask-tags" data-type="sports">青埔 大樓</span>
						</a>
					</li>
					<li>
						<a href="#">
							<%= image_tag('area04/banner04.jpg') %>
							<span class="mask-tags" data-type="sports">大樓</span>
						</a>
				</li>
				</ul>
			</div>
			<div class="banner-2 block ad slideshow">
				<ul>
					<li>
						<a href="#">
							<%= image_tag('area05/banner05.jpg') %>
							<span class="mask-tags" data-type="sports">最新企劃 2015/12</span>
						</a>
					</li>
					<li>
						<a href="#">
							<%= image_tag('area05/banner05.jpg') %>
							<span class="mask-tags" data-type="sports">最新企劃 2015/12</span>
						</a>
					</li>
					<li>
						<a href="#">
							<%= image_tag('area05/banner05.jpg') %>
							<span class="mask-tags" data-type="sports">最新企劃 2015/12</span>
						</a>
					</li>

				</ul>
				
			</div>



		</div>
		
	</div>	
	<div class="wrapper clearfix ">
		<div class="quicknews vticker">
			<ul>
				<li><a href="">1桃園 青埔 宜誠國塘 現正熱銷上線。</a></li>
				<li><a href="">2桃園 青埔 宜誠國塘 現正熱銷上線。</a></li>
				<li><a href="">3桃園 青埔 宜誠國塘 現正熱銷上線。</a></li>
				<li><a href="">4桃園 青埔 宜誠國塘 現正熱銷上線。</a></li>
				<li><a href="">5桃園 青埔 宜誠國塘 現正熱銷上線。</a></li>
			</ul>
			
		</div>
	</div>
	<div class="wrapper clearfix ">
		<div class="adhere">
		<%=  image_tag('gg.jpg')%>

		</div>	
		<div class="likesfb">
			<h4>我們的服務，毫不囉唆</h4>
			
			<p>以瀏覽速度為優先，進化你的網站，手機、平板、桌機一次搞定。</p>
			<p>Google已經重新定義網站</p>
			<p>成長 = 機會 ; 限制 = 專注 ; 潛力 = 創新</p>
			
			<%= image_tag('alldevices.png')  %>

			<div class="arrow"><a href="#two"><i class="fa fa-arrow-down"></i></a></div>
		</div>	
	</div>	
	<div class="fullbar" >
			<p>不只趕流行，我們要讓你走在時代的尖端。</p>
			<p>引文: <a href="http://www.inside.com.tw/2010/11/13/mobile-first" target="_blank">頂尖公司都在喊：手機優先（Mobile First！），您呢？</a></p>
	</div>	
	<h1 class="page-title">方案與費用</h1>
	<h4 class="second-title" id="price">靈活且親切的服務方案，供您選擇。</h4>

	<div class="wrapper clearfix wrapper_padding " >

		 <div class="price-1">
		 	<ul>
		 		<li class="price-name-1">基礎制式方案 <span class="ps">個案適用</span></li>
		 		<li class="price-old-1">定價：40000元/年</li>
		 		<li class="price-new-1">優惠價：25200元/年</li>
		 		<li>六大單元頁面</li>
		 		<li>固定專用版型 <a href="http://threemouth.com/kuotown/" target="_blank">參考</a></li>
		 		<li>3~5天快速上線</li>


		 		<li class="last">
		 			<a href="tel:0982826405"><div class="callmenow"><i class="fa fa-phone"></i></div></a>
		 			<a href="mailto:threemouth@threemouth.com"><div class="callmenow"><i class="fa fa-envelope"></i></div></a>
		 			<a href="http://line.me/ti/p/a1jsBe9PCj"><div class="callmenow"><%= image_tag('line.png') %></div></a>
		 		</li>
		 	</ul>	
		 </div>
		 <div class="price-1">
		 	<ul>
		 		<li class="price-name-1 price-name-2">客製RWD方案 <span class="ps">個案適用</span></li>
		 		<li class="price-old-1">定價：80,000元</li>
		 		<li class="price-new-1">40,000元起</li>
		 		<li>彈性單元頁面數:依企劃架構</li>
		 		<li>另製版型</li>
		 		<li>專人溝通需求</li>


		 		<li class="last">
		 			<a href="tel:0982826405"><div class="callmenow"><i class="fa fa-phone"></i></div></a>
		 			<a href="mailto:threemouth@threemouth.com"><div class="callmenow"><i class="fa fa-envelope"></i></div></a>
		 			<a href="http://line.me/ti/p/a1jsBe9PCj"><div class="callmenow"><%= image_tag('line.png') %></div></a>
		 		</li>
		 	</ul>	
		 </div>
		 <div class="clearfix"></div>
		 <div class="talk">
		 <ul>
		 		
		 		<li>官網平台廣告優先</li>
		 		<li>行動裝置瀏覽整合</li>
		 		<li>整合電子信箱</li>
		 		<li>整合聯絡電話</li>
		 		<li>整合lineID</li>
		 		<li>整合FB粉絲團</li>
		 		<li>GA流量分析</li>
		 		<li>搜尋引擎登錄</li>
		 		<li>掛載高流量空間</li>
		 		<li>附屬名稱網址</li>
		 </ul>

		</div>
		 
	</div>

	<h1 class="page-title" id="contact">聯絡我們</h1>
	<h4 class="second-title">網站客製？ 預算？ 大型專案處理？ 關鍵字？ 手機版？ 需要專人解說嗎？ 歡迎來信！</h4>
	
	<div class="skinny_wrapper wrapper_padding">

		<label>Name - 暱稱或大名</label>
		<input type="text">
		<br>

		<label>Email - 電子信箱</label>
		<input type="text">
		<br>

		<label>Message - 請詳述您的問題，或留下電話</label>
		<textarea></textarea>
	
		<input type="submit" value="Send Message" class="button">
	</div>