<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
	<title>成家居 - mobile first 複合式網頁設計服務，手機、平板、桌機瀏覽率一網打盡</title>
	<link rel="stylesheet" href="css/application.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<script type="text/javascript" src="js/jquery-1.11.3.min.js" ></script>
	<script type="text/javascript" src="js/jquery.easing.min.js"></script>
	<script type="text/javascript" src="js/jquery.easy-ticker.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-70748785-1', 'auto');
  ga('send', 'pageview');

</script>
</head>

<script type="text/javascript">
$(document).ready(function(){

	var dd = $('.vticker').easyTicker({
		direction: 'up',
		easing: 'easeInOutBack',
		speed: 'slow',
		interval: 2000,
		height: 'auto',
		visible: 1,
		mousePause: 0,
		controls: {
			up: '.up',
			down: '.down',
			toggle: '.toggle',
			stopText: 'Stop !!!'
		}
	}).data('easyTicker');
	
	cc = 1;
	$('.aa').click(function(){
		$('.vticker ul').append('<li>' + cc + ' Triangles can be made easily using CSS also without any images. This trick requires only div tags and some</li>');
		cc++;
	});
	
	$('.vis').click(function(){
		dd.options['visible'] = 3;
		
	});
	
	$('.visall').click(function(){
		dd.stop();
		dd.options['visible'] = 0 ;
		dd.start();
	});
	
});
</script>
<body>
	<div id="gotop">˄</div>
	<header id="main_navigation" class="clearfix"> 
		<a href="/" class="name">成家居</a>
		<div class="soical"> <a href="tel:0982826405">聯絡電話 : 0982826405(小吳)</a> | <a href="http://line.me/ti/p/a1jsBe9PCj"><%= image_tag('line.png', height: '20', width: '20') %>Line : wuwood</a> | <a href="mailto:threemouth@threemouth.com">threemouth@threemouth.com</a> </div>
		<nav>
			<%= link_to '網誌' , root_path %>
				
			<a href="#" id="ct">方案與費用</a>
			<a href="#" id="dt">聯絡我們</a>
			
			<%= link_to '地產企劃' , plan_index_path , class: 'special' %>
		</nav>			
	</header>
<%= yield %>
	<footer id="main_footer">
		<p class="copyright">&copy; 2015 參口創意網路團隊 版權所有 </p>
		<nav>
			<a href="tel:0982826405" target="_blank"><i class="fa fa-phone-square"></i></a>
			<a href="https://www.facebook.com/threemouth/" target="_blank"><i class="fa fa-facebook-official"></i></a>
			<a href="mailto:threemouth@threemouth.com" target="_blank"><i class="fa fa-envelope"></i></a>
			<a href="https://github.com/kiloking" target="_blank"><i class="fa fa-github"></i></a>
		</nav>	
	</footer>	


</body>
</html>
